body {
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flower-petal_8 {
  top: 50%;
  left: 10%;
  border-radius: 0px 100% 50% 100% / 0px 100% 30% 100%;
  transform: rotate(225deg) scale(1);
}

.flower-Light {
  width: 3cqi;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

.flower-Light:nth-child(odd) {
  background-color: #ffe4a0;
  filter: blur(2cqi) drop-shadow(0 0 5cqi #ffd85f);
}

.flower-Light:nth-child(even) {
  background-color: #ff6236;
  filter: blur(2cqi) drop-shadow(8px 8px 5cqi #ff6236);
}
